body{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(230, 227, 227);
}
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0px 0;
    
}
h1{
    text-align: center
}

.navbar-brand{
    padding: 0;
    color:gray;
}
.navbar-brand:hover{
    color: black;
}
.navbar-links a {
    color: black;
}
.navbar-links, .a {
    color: black;
}

footer{
    padding: 20px;
    background-color:#e3f2fd;
    /*margin-top: 398px;*/
    display: table;
    width:100% ;
   
    height: 50px; /* altura do rodapé */
    padding: 15px;
    left: 0;
    bottom: 0;
}


.content {
    padding-bottom: 50px; /* altura do rodapé */
  }

footer dl, footer p{
    display: table-cell;
    vertical-align: middle;
}

footer dt{
    font-weight: bold;
}

footer p{
    text-align: right;
    font-weight: bold;
    font-size: 25px;

}
